@use 'colors' as *;
@use 'ax-layout' as *;

:root {
  --ax-primary: #{$ax-primary};
  --ax-secondary: #{$ax-secondary};
  --ax-tertiary: #{$ax-tertiary};
  --ax-error: #{$ax-error};
  --ax-warning: #{$ax-warning};
  --ax-info: #{$ax-info};
  --ax-success: #{$ax-success};
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-size: 14px;
}
